node_modules
/workspace.code-workspace
/clients/Unity/LeaderboardLiteClient/Assets/Scripts/LeaderboardClient/*.meta
obj
Packages
ProjectSettings
Temp
Assembly-CSharp.csproj
LeaderboardLiteClient.sln
.vs
Library
Logs
Resources
Scenes
Resources.meta
Scenes.meta
Scripts.meta
WritePanelManager.cs.meta
LeaderboardClient.meta
LeaderboardItemManager.cs
LeaderboardItemManager.cs.meta
RetrievePanelManager.cs
RetrievePanelManager.cs.meta
WritePanelManager.cs
